.dh-header-non-rectangular {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#2306d3, #26cbff);
  transform: skewY(-6deg);
  transform-origin: top left;
}

.dh-header-non-rectangular-container {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

.dh-header-non-rectangular-container h1, p {
  color: white;
  font-weight: bold;
}

.navbar-toggle {
  z-index: 3;
}

.navbar-default {
  background-color: #ffffff;
  background-image: none;
}

.navigation-clean {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (max-width:767px) {
  .navigation-clean {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean.navbar-inverse .navbar-brand:hover {
  color: #f0f0f0;
}

.navigation-clean .navbar-toggle {
  border-color: #ddd;
}

.navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus {
  background: none;
}

.navigation-clean.navbar-inverse .navbar-toggle {
  border-color: #555;
}

.navigation-clean .navbar-toggle .icon-bar {
  background-color: #888;
}

.navigation-clean.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #eee;
}

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
  border-top-color: #ddd;
}

.navigation-clean.navbar-inverse .navbar-collapse, .navigation-clean.navbar-inverse .navbar-form {
  border-top-color: #333;
}

.navigation-clean.navbar .navbar-nav > li > a {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-default .navbar-nav > li > a {
  color: #465765;
}

.navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean.navbar-inverse {
  background-color: initial;
  color: #fff;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a {
  color: #dfe8ee;
  font-weight: bold;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean.navbar-inverse .navbar-nav > li > a:hover {
  color: #0e01a4 !important;
  background-color: transparent;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  font-weight: bold;
  text-transform: uppercase;
}

