.wavewrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden;
}

.waveflow {
  width: 1000px;
  height: 1030px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, .75);
  animation: waveflow 15s infinite linear;
}

@keyframes waveflow {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

