<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Knewave">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prosto+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Revalia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Animated-CSS-Waves-Background-SVG.css">
    <link rel="stylesheet" href="assets/css/Animated-Typing-With-Blinking.css">
    <link rel="stylesheet" href="assets/css/Button-Change-Text-on-Hover.css">
    <link rel="stylesheet" href="assets/css/Check-Out-Page-V100.css">
    <link rel="stylesheet" href="assets/css/dh-header-cover-image-button.css">
    <link rel="stylesheet" href="assets/css/dh-header-non-rectangular.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Search-Input-Responsive-with-Icon.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled-2.css">
    <link rel="stylesheet" href="assets/css/untitled-3.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/Wave-Flow-Animation.css">
</head>

<body>
    <div class="svg-container">
        <div class="waveWrapper waveAnimation">
            <div class="waveWrapperInner bgTop">
                <div class="wave waveTop"
                    style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
            </div>
            <div class="waveWrapperInner bgMiddle">
                <div class="wave waveMiddle"
                    style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
            </div>
            <div class="waveWrapperInner bgBottom">
                <div class="wave waveBottom"
                    style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
            </div>
        </div>
    </div>


   <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="background: var(--bs-white);border-top-left-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;box-shadow: inset 0px 0px 7px 0px #3f2b96;border: 0px ridge var(--bs-indigo);padding: 9.2px 0px;">
    <div class="container"><a class="navbar-brand text-center d-lg-flex align-items-lg-center logo" href="home" style="color: var(--bs-indigo);border-width: 0px;border-color: var(--bs-indigo);font-family: Audiowide, serif;font-size: 20px;transform: rotateX(0deg);"><img src="assets/img/logo.png" style="width: 149px;" /></a></div>
</nav>

    <header class="d-lg-flex align-items-lg-center dh-header-non-rectangular" style="margin-top: auto;">
        <div class="container d-lg-flex">
            <div class="col-md-12 dh-header-non-rectangular-container">
                <h1
                    style="text-align: center;padding: 50px;font-size: auto;font-family: Audiowide, serif;color: var(--bs-white);text-shadow: 0px 0px 2px var(--bs-white);transform: scale(1.9);margin-top: 50px;filter: blur(0px) brightness(101%) contrast(102%) hue-rotate(0deg);padding-right: 70px;padding-left: 70px; letter-spacing: 2px">
                    SELECT *</h1>
                <div class="d-lg-flex justify-content-lg-center col-md-12">
                    <div class="col">
                        <div class="row flex-fill" style="padding-bottom: 26px;">
                            <div class="col-md-10 offset-md-1">

                                <div class="card m-auto"
                                    style="max-width: 850px;transform: scale(0.85);border-radius: 100px;">
                                    <div class="card-body" style="transform: scale(1);padding: 20px;">
                                        <form method="POST"id="userinput" class="d-flex align-items-center"><i
                                                class="fas fa-search d-none d-sm-block h4 text-body m-0"></i><input
                                                list="sugesstions"
                                                id="searchinput"
                                                class="form-control form-control-lg flex-shrink-1 form-control-borderless"
                                                type="search" placeholder="Search topics or keywords" name="searchbar"
                                                autocomplete="off" required="">
                                                 <a class="text-center d-lg-flex justify-content-lg-center"
                                                 href="#" style="width: 84px;height: 68px;">
                                                 <img src="assets/img/icons8-dots-loading.gif"  hidden="true" id="loading"  style="transform: scale(0.50);" /></a>
                                                 <i class="" data-bss-hover-animate="tada">
                                                <a href="#" id="start_button" onclick="startDictation(event);"><i 
                                                    class="fas fa-microphone" style="font-size: 30px;padding: 20px;color: var(--bs-indigo);"></i></a>


                                                <datalist id="sugesstions"></datalist>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" data-bss-hover-animate="pulse"
                                    type="submit" form="userinput" 
                                    style="transform: scale(1.30) skew(0deg);box-shadow: inset 0px 0px 9px rgba(255,255,255,0.75);background: #3f2b96;color: var(--bs-white);font-family: 'Titillium Web', sans-serif;border-radius: 34px;width: 125.4875px;font-size: 20px;text-align: center;padding: 1px 16px;height: 36.6px;border-width: 0px;font-weight: normal;">search</button>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Animated-Typing-With-Blinking.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
<script>
    var word;
    const input = document.getElementById('searchinput');
    const debounce = (fn, time) => {
        let timeout;
        return (...arguments) => {
            clearTimeout(timeout);
            timeout = setTimeout(() => fn.apply(this, arguments), time);
        }
    }
    input.addEventListener('keyup', debounce(e =>
        handleKeyPress(e), 300));
    function handleKeyPress(e) {
        var options = '';
        word = input.value;
        fetch(`http://localhost:3000/auto?word=${word}`)
            .then(res => {
                if (res.ok)
                    return res.json();
                return Promise.reject(response);
            }).then(arr => {
                for (i = 0; i < arr.length; i++) {
                    options += '<option value="' + arr[i]['WORD'] + '" />';
                }
                document.getElementById('sugesstions').innerHTML = options;
            }).catch(error => {
                console.warn(error);
            });


    }


</script>

   
<script type="text/javascript">
 var text_to_display = document.getElementById("searchinput");
 var loading_icon = document.getElementById("loading");
  var final_transcript = "";
  var recognizing = false;

  if ("webkitSpeechRecognition" in window) {
    var recognition = new webkitSpeechRecognition();

    recognition.continuous = true;
    recognition.interimResults = true;

    recognition.onstart = function () {
      recognizing = true;
      loading_icon.hidden=false;
    };

    recognition.onerror = function (event) {
      console.log(event.error);
    };

    recognition.onend = function () {
     
      text_to_display.placeholder="Search topics or keywords";
      loading_icon.hidden=true;
      recognizing = false;
    };

    recognition.onresult = function (event) {
      var interim_transcript = "";
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          final_transcript = event.results[i][0].transcript;
        } else {
          interim_transcript = event.results[i][0].transcript;
        }
      }
      final_transcript = capitalize(final_transcript);
      text_to_display.placeholder=linebreak(interim_transcript);
      text_to_display.value=linebreak(final_transcript);
    };
  }
  var two_line = /\n\n/g;
  var one_line = /\n/g;
  function linebreak(s) {
    return s.replace(two_line, "<p></p>").replace(one_line, "<br>");
  }

  function capitalize(s) {
    return s.replace(s.substr(0, 1), function (m) {
      return m.toUpperCase();
    });
  }

  function startDictation(event) {
    if (recognizing) {
      recognition.stop();
      return;
    }
    final_transcript = "";
    recognition.lang = "en-US";
    recognition.start();
    text_to_display.value= "";
  }
</script>

</html>